li{
    text-shadow:1 px;
    font-weight: lighter;
}
li:hover{
    font-weight: normal;
}
ul li.checked {
    color: grey;
    text-decoration: line-through;
  }
  
  /* Add a "checked" mark when clicked on */
  ul li.checked::before {
    content: '';
    position: absolute;
    border-color: grey;
    border-style: solid;
    border-width: 0 2px 2px 0;
    margin-top:auto;
    margin-left:-12px;
    transform: rotate(45deg);
    height: 15px;
    width: 7px;
  }